<hr>
<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid" *ngIf="!!foreCastData ">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{foreCastData.city.name}}</h3>

    </div>

    <ul class="list-group" *ngFor="let data of foreCastData.list;let i = index">
      <!---->
      <li *ngIf="i < 5" class="list-group-item">
        {{data.dt | date }}:
        {{data.weather[0].main}}
        - Min: {{data.temp.min | temperature: type}} °{{type}}
        - Max: {{data.temp.max | temperature: type}} °{{type}}
        <div [ngSwitch]="data.weather[0].main">
          <img class="icon" *ngSwitchCase="'Clouds'" src="https://www.angulartraining.com/images/weather/clouds.png">
          <img class="icon" *ngSwitchCase="'Sunny'" src="https://www.angulartraining.com/images/weather/sun.png">
          <img class="icon" *ngSwitchCase="'Clear'" src="https://www.angulartraining.com/images/weather/sun.png">
          <img class="icon" *ngSwitchCase="'Rain'" src="https://www.angulartraining.com/images/weather/rain.png">
          <img class="icon" *ngSwitchCase="'Snow'" src="https://www.angulartraining.com/images/weather/snow.png">
          <img class="icon" *ngSwitchDefault src="https://www.angulartraining.com/images/weather/sun.png">
        </div>
      </li>

    </ul>

  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" (click)="back()">&lt; Back to main page</button>
</div>
